.CodeMirror {
  font-family: Menlo, 'Fira Code', Monaco, source-code-pro, "Ubuntu Mono", "DejaVu sans mono", Consolas, monospace;
  font-size: 16px;
  height: 100%!important;
  width: 100%;
}

.foo {
  width: auto;
}