name: Release
on:
  release:
    types: [prereleased, released]

jobs:
  release:
    name: ${{ github.event.release.tag_name }} to production
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name }}
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20.11.1'
          cache: npm
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Generate Git Info File
        uses: ./.github/actions/git-info
      - name: Deploy to server
        uses: easingthemes/ssh-deploy@v4.1.8
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          REMOTE_HOST: ${{ secrets.HOST_IP }}
          REMOTE_USER: ${{ secrets.HOST_USER }}
          TARGET: /home/${{ secrets.HOST_USER }}/ace-server/
          EXCLUDE: '/.cache/, /.github/, /.vscode/, /.git/, modules/confluence-plugin/node_modules/, database.sqlite'
          SCRIPT_AFTER: |
            mkdir -p /home/${{ secrets.HOST_USER }}/.ace-server-db
            cd /home/${{ secrets.HOST_USER }}/ace-server/
            cat > .env << EOF
            ACE_SERVER_DB_DIR=/home/${{ secrets.HOST_USER }}/.ace-server-db
            DATABASE_URL=postgresql://${{ vars.GPT_ACE_DB_USERNAME }}:${{ secrets.GPT_ACE_DB_PASSWORD }}@${{ vars.POSTGRESQL_BIND_INNER_IP }}:5432/${{ vars.GPT_ACE_DB_NAME }}
            AC_LOCAL_BASE_URL=${{ vars.LOCAL_BASE_URL }}
            PORT=${{ vars.APP_PORT }}
            NODE_ENV=production
            OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
            EOF
            if pm2 describe app > /dev/null 2>&1; then
              echo "App exists, restarting..."
              pm2 restart app
            else
              echo "App doesn't exist, starting fresh..."
              pm2 start npm --name app -- start
              pm2 save
            fi
